<div class="answer-box">
    <h4>Answers:</h4>
    <div class="answer-card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, sint quidem, pariatur cumque eius aperiam maiores deserunt cupiditate explicabo unde, inventore suscipit. Quam nesciunt minus aperiam eaque, omnis optio illum!</p>
    </div>
</div>
<div class="answer-box">
    <h4>Answers:</h4>
    <div class="answer-card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, sint quidem, pariatur cumque eius aperiam maiores deserunt cupiditate explicabo unde, inventore suscipit. Quam nesciunt minus aperiam eaque, omnis optio illum!</p>
    </div>
</div>
<div class="answer-box">
    <h4>Answers:</h4>
    <div class="answer-card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, sint quidem, pariatur cumque eius aperiam maiores deserunt cupiditate explicabo unde, inventore suscipit. Quam nesciunt minus aperiam eaque, omnis optio illum!</p>
    </div>
</div>