@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* text-align: center; */
            font-family: 'Nunito', sans-serif;
            /* color: #785aa6 #5260ff #0055a6 #222428 #ffc409 #2dd36f #92949c #f4f5f8; */
        }
        .error{
            color:  #e40a2c;
            font-size: small;
        }